<div class="schedule-container">
  <table class="schedule-table">
    <thead>
      <tr>
        <th>Hora</th>
        <th>Lunes</th>
        <th>Martes</th>
        <th>Miércoles</th>
        <th>Jueves</th>
        <th>Viernes</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let clase of clase">
        <td>{{ clase.hora }}</td>
        <td (click)="openModal(clase.lunes, clase.hora)">
          <i [class]="clase.lunes.icono"></i> {{ clase.lunes.nombre }}
        </td>
        <td (click)="openModal(clase.martes, clase.hora)">
          <i [class]="clase.martes.icono"></i> {{ clase.martes.nombre }}
        </td>
        <td (click)="openModal(clase.miercoles, clase.hora)">
          <i [class]="clase.miercoles.icono"></i> {{ clase.miercoles.nombre }}
        </td>
        <td (click)="openModal(clase.jueves, clase.hora)">
          <i [class]="clase.jueves.icono"></i> {{ clase.jueves.nombre }}
        </td>
        <td (click)="openModal(clase.viernes, clase.hora)">
          <i [class]="clase.viernes.icono"></i> {{ clase.viernes.nombre }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
