<div class="login">
  <span class="login__title">Iniciar Sesión </span>
  <mat-form-field>
    <mat-label>Usuario</mat-label>
    <input type="text" matInput placeholder="Nombre de Usuario" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Contraseña</mat-label>
    <input type="password" matInput placeholder="Contraseña" />
  </mat-form-field>
  <button mat-button mat-flat-button color="primary">Enviar</button>
  <div class="flex justify-content-end mt-5">
    <nav *ngIf="showNavBar" class="menu__option">
      <button class="menu__option-4" [routerLink]="'registro'">
        ¿Quieres registrarte?
      </button>
    </nav>
  </div>
</div>
