@font-face {
  font-family: "Retosta";
  src: url("../../../../assets/fonts/Retosta.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: url("../../../../assets/images/pozo_marrufit.svg");
  background-size: cover;
  height: 100vh;
  padding: 20px;

  box-sizing: border-box;
  &__title {
    margin-top: 10%;
    font-family: "Retosta";
    font-size: 28px;
    padding-bottom: 12px;
    color: rgb(65, 20, 2);
  }
}
