<section class="options">
  <div class="options__intro">
    <p>NUESTROS SERVICIOS SON:</p>
  </div>
  <div class="cards-container">
    <div
      class="card"
      *ngFor="let item of sesion"
      [ngClass]="{ selected: selectedCard === item }"
    >
      <button class="card-content" (click)="selectCard(item)">
        <h2 class="card-title">{{ item.title }}</h2>
        <img
          class="card-icon"
          [src]="'../../../../assets/icons/entreno_personal.png'"
        />
        <p class="card-description">{{ item.description }}</p>
        <p class="card-tariff">Tarifa: {{ item.price }}</p>
      </button>
    </div>
  </div>
</section>
