/* menu.component.scss */

.menu {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: transparent;

  padding: 20px;
  &__option {
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    background-color: #ffccb3;
    padding: 10px;
  }

  &__option button {
    background-color: #ffccb3;
    color: #000000;
    text-decoration: none;
    font-family: "Arial", sans-serif;
    font-weight: bold;
    margin-right: 4px;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-top: 2px solid white;
    padding: 10px 20px;
  }

  &__option button:hover {
    background-color: #ffb996;
    border-color: white;
  }
}
