<div class="menu">
  <nav *ngIf="showNavBar" class="menu__option">
    <button class="menu__option-1" [routerLink]="'/'">Principal</button>
    <button class="menu__option-2" [routerLink]="'history-page'">
      Conocenos
    </button>
    <button class="menu__option-3" [routerLink]="'activities-page'">
      Servicios
    </button>
    <button class="menu__option-4" [routerLink]="'login-page'">
      Iniciar Sesión
    </button>
    <button class="menu__option-5" [routerLink]="'timetable-page'">
      Horarios
    </button>
  </nav>
</div>
