<footer class="footer">
  <div class="footer_instagram">
    <a
      href="https://www.instagram.com/marrufit_mf/"
      target="_blank"
      aria-label="Instagram"
    >
      <img
        class="footer_instagram-icon"
        alt="Instagram"
        src="../../../../assets/images/instagram.svg"
      />
    </a>
  </div>
  <div class="footer_facebook">
    <a
      href="https://www.facebook.com/soledad.marrufopaez?locale=es_ES"
      target="_blank"
      aria-label="Facebook"
    >
      <img
        class="footer_facebook-icon"
        alt="Facebook"
        src="../../../../assets/images/facebook.svg"
      />
    </a>
  </div>
</footer>
