.footer {
  background-color: #ffccb3;
  color: white;
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Espacio entre los iconos */
}

.footer_instagram,
.footer_facebook {
  display: flex;
  align-items: center;
}

.footer_instagram-icon,
.footer_facebook-icon {
  width: 40px; /* Ajusta el tamaño según tus necesidades */
  height: 40px; /* Ajusta el tamaño según tus necesidades */
  transition: transform 0.3s;
}

.footer_instagram a:hover .footer_instagram-icon,
.footer_facebook a:hover .footer_facebook-icon {
  transform: scale(1.1); /* Efecto de zoom al pasar el mouse */
}
