@font-face {
  font-family: "Minggola";
  src: url("../../../../assets/fonts/Minggola.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Retosta";
  src: url("../../../../assets/fonts/Retosta.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.header {
  display: flex;
  flex-direction: column;

  &__photo {
    align-self: flex-start;
    width: 100%;
    object-fit: cover;
    height: 180vh;
  }

  &__text {
    color: rgb(36, 4, 36);
    font-family: "Retosta";
    font-size: 40px;
    text-align: center;
    padding-right: 20px;
    padding-top: 20px;
  }

  &__description {
    color: rgb(36, 4, 36);
    font-family: "Minggola";
    font-size: 24px;
    text-align: center;
    padding-right: 20px;
    padding-top: 20px;
  }

  @media screen and (min-width: 700px) {
    flex-direction: row; /* Para pantallas más grandes */

    &__photo {
      width: 50%; /* La imagen ocupa el 50% del ancho */
      height: 140vh; /* Ocupa toda la altura de la ventana */
      align-self: flex-start;
    }

    &__text {
      width: 50%; /* El texto ocupa el 50% del ancho */
      height: 100vh; /* Ocupa toda la altura de la ventana */
    }
  }
}
