@font-face {
  font-family: "Retosta";
  src: url("../../../../assets/fonts/Retosta.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Baristo";
  src: url("../../../../assets/fonts/Baristo.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  &__photo {
    display: flex;
    justify-content: flex-start;
  }

  &__text {
    margin-top: 60px;
    margin-right: 20px;
  }

  &__text-title {
    text-align: center;
    font-family: "Retosta";
    font-size: 30px;

    line-height: 1.5;
  }
  &__text-content {
    padding-top: 20px;
    font-family: "Retosta";
    font-size: 20px;
  }

  &__icon-location {
    width: 160px;
    height: 160px;
  }
  &__icon-register {
    width: 340px;
    height: 340px;
  }
}

/* Tooltip container */
.tooltipCustom {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltipCustom .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltipCustom:hover .tooltiptext {
  visibility: visible;
}
