<div class="header">
  <div class="header__photo">
    <img src="../../../../assets/images/foto_portada.svg" />
  </div>
  <div class="header__text">
    <span class="header__text-title">
      ¡Bienvenidos a nuestro gimnasio, donde transformamos sueños en músculos!
    </span>
    <p class="header__text-content">
      Con entrenadores dedicados, equipos de última generación y una comunidad
      de apoyo, te ayudaremos a esculpir el cuerpo que siempre has deseado.
      ¡Únete a nosotros y convierte tu pasión por el fitness en una poderosa
      realidad!
    </p>
  </div>
</div>
<div class="header__icon">
  <div class="tooltipCustom">
    <img
      class="header__icon-location"
      alt=""
      src="../../../../assets/images/ubicacion.svg"
    />
    <span class="tooltiptext"
      >Calle Nuestra Señora del Carmen, 4, 41720, Sevilla</span
    >
  </div>
  <img
    class="header__icon-register"
    src="../../../../assets/images/registro.svg"
    [routerLink]="'/registro'"
  />
</div>
