<div class="header">
  <img class="header__photo" src="../../../../assets/images/foto_portada.svg" />

  <div class="header__text">
    <span class="header__text-title">
      ¡Bienvenidos a nuestro gimnasio, donde transformamos sueños en músculos!
    </span>
    <div class="header__description">
      <p class="header__description-content">
        Con entrenadores dedicados, equipos de última generación y una comunidad
        de apoyo, te ayudaremos a esculpir el cuerpo que siempre has deseado.
        ¡Únete a nosotros y convierte tu pasión por el fitness en una poderosa
        realidad!
      </p>
    </div>
    <div class="header__footer">
      <img src="../../../../assets/images/localizacion.svg" />

      <img
        class="header__footer-register"
        src="../../../../assets/images/inscribite.svg"
      />
    </div>
  </div>
</div>
